<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Swagger PHP module Unit Test Suite">
            <directory>./test/Unit</directory>
        </testsuite>
        <testsuite name="Swagger PHP module Integration Test Suite">
            <directory>./test/Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
